<div class="background">
  <div fxLayout="row" class="padding-left-right-2 question">
    <span class="text-size-24 text-bold-600">{{ currentAction }}</span>
  </div>
  <div fxLayout="row" class="slide-container borders-top" [ngClass]="sliderHeight">
    <div fxLayout="column" fxFlex="100">
      <div fxLayout="row" class="slide-header" fxLayoutAlign="center">
        <mat-icon class="maximize-icon" (click)="toggleSlider()">maximize</mat-icon>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-button class="back-icon">
          <mat-icon class="icon" (click)="onBack()">keyboard_backspace</mat-icon>
        </button>
        <span class="text-size-14 text-bold-600">{{ currentCity }}</span>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" *ngIf="currentAction === actions[1]">
        <span *ngIf="fromDate" class="text-lighter text-size-12">
          {{ fromDate.day }}. -
        </span>
        <span *ngIf="toDate" class="text-lighter text-size-12">
          {{ toDate.day }}. {{ getMonth(toDate.month) }} {{ dateOption }}
        </span>
      </div>
      <div fxLayout="column" fxFlex="100" class="options-container" *ngIf="currentAction === actions[0]">
        <app-explore-city-action-item *ngFor="let option of options" [option]="option" (click)="nextAction()"></app-explore-city-action-item>
      </div>
      <div fxLayout="column" fxFlex="100" class="options-container" *ngIf="currentAction === actions[1]">
        <div fxLayout="row">
          <ngb-datepicker
            #datePicker
            [(ngModel)]="model"
            (navigate)="date = $event.next"
            (dateSelect)="onDateSelection($event)"
            [dayTemplate]="t"
            outsideDays="hidden"
            [minDate]="todayDate"></ngb-datepicker>
          <ng-template #t let-date let-focused="focused">
            <span class="custom-day"

                  [class.focused]="focused"
                  [class.range]="isRange(date)"
                  [class.faded]="isHovered(date) || isInside(date)"
                  (mouseenter)="hoveredDate = date"
                  (mouseleave)="hoveredDate = null">
              {{ date.day }}
            </span>
          </ng-template>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="x-slide padding-top-bottom-1" *ngIf="dateIsPicked">
          <button mat-stroked-button (click)="addDateOption($event)" class="dateOption">Točni datumi</button>
          <button mat-stroked-button (click)="addDateOption($event)" class="dateOption">	&plusmn; 1 dan</button>
          <button mat-stroked-button (click)="addDateOption($event)" class="dateOption">	&plusmn; 3 dana</button>
          <button mat-stroked-button (click)="addDateOption($event)" class="dateOption">	&plusmn; 7 dana</button>

        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="padding-top-bottom-1">
          <button mat-flat-button class="text-underline">Izbriši</button>
          <button mat-flat-button class="bg-color-black color-white" [disabled]="!dateIsPicked" (click)="nextAction()">Sljedeće</button>
        </div>
      </div>
      <div fxLayout="column" fxFlex="100" class="options-container" *ngIf="currentAction === actions[2]">
        <app-explore-city-persons-item [personType]="person" *ngFor="let person of personTypes"></app-explore-city-persons-item>
        <div fxLayout="row" class="personType" fxLayoutAlign="space-between center">
          <div fxLayout="column">
            <span class="text-bold text-size-14">Kućni ljubimci?</span>
            <span class="text-lighter text-size-12">Dovodite li kućnog ljubimca?</span>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <mat-slide-toggle></mat-slide-toggle>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="padding-top-bottom-1">
          <button mat-flat-button class="text-underline" *ngIf="checkPersonsCount() === false">Preskoči</button>
          <button mat-flat-button class="text-underline" *ngIf="checkPersonsCount() === true" (click)="clearPersonsCount()">Izbriši</button>
          <button mat-flat-button color="accent" [disabled]="!personsValid" (click)="nextAction()">Pretraživanje</button>
        </div>
    </div>
  </div>
</div>
