<div class="background">
  <div fxLayout="row" class="padding-left-right-2 question">
    <span class="text-size-24 text-bold-600">Što tražite?</span>
  </div>
  <div fxLayout="row" class="slide-container borders-top">
    <div fxLayout="column" fxFlex="100">
      <div fxLayout="row" class="slide-header" fxLayoutAlign="center">
        <mat-icon>maximize</mat-icon>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-button class="back-icon">
          <mat-icon class="icon" class="">keyboard_backspace</mat-icon>
        </button>
        <span class="text-size-14 text-bold-600">Grad..</span>
      </div>
      <div fxLayout="column" fxFlex="100" class="options-container">
        <button mat-button class="button-borders">
          <div fxLayout="row">
            <div fxLayout="column">
              <span class="text-size-14 text-bold-600">Pronađite smještaj</span>
              <span class="text-size-14 text-lighter">Cijeli smještaji,sobe i još mnogo toga.</span>
            </div>
            <img class="image" />
          </div>
        </button>
      </div>
    </div>
  </div>
</div>
