.map-container {
  position: absolute;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  overflow-y: hidden;
}

.map-block {
  margin-top: -20%;
  width: 100%;
  height: 140%;
}

.slide-container {
  position: absolute;
  width: 100%;
  background-color: white;
  bottom: 0;
  padding: 0rem 2rem;
  z-index: 2;
}
.slider-height-default {
  overflow-y: hidden;
  height: 5%;
  transition: 1s;
  border-top-left-radius: 2rem !important;
  border-top-right-radius: 2rem !important;
}
.slider-height-full {
  overflow-y: scroll;
  height: 90%;
  transition: 1s;
  border-top-left-radius: 0rem !important;
  border-top-right-radius: 0rem !important;
  padding-bottom:10vh;
}
.slide-header {
  width: 100%;
  text-align: center;
  color: gray;
}
.maximize-icon {
  width: 3rem;
  font-size: 3rem;
}
.search-container {
  position: absolute;
  width: 100%;
  height: 10%;
  padding: 1rem 2rem;
}
.search-container-bg-default{
  background-color: transparent;
  transition: 1s;
}
.search-container-bg-white{
  background-color: white;
  border-bottom: 0.1rem solid #ccc;;
  transition: 1s;
}

.search-options-block {
  height: auto;
  width: 100%;
  background-color: white;
  border-radius: 2rem;
  padding: 0rem 1rem;
}
.float-right {
  float: right;
}
.slide-accommodation-container {
  position: absolute;
  display: flex;
  height: auto;
  width: 100%;
  bottom: 5%;
  padding: 1rem 2rem;
  overflow-x: scroll;
}

.text-underline{
  text-decoration: underline;
}
.scroll-accomodation-container{
  height: auto;
  width: 100%;
}
.accommodations-container{
  display: grid;
}

.map-button-container{
  position: sticky;
  width:100%;
  bottom:5%;
}
.map-button{
  background-color: black;
  border-radius: 2rem;
  line-height: unset;
  padding: 0.5rem 1.5rem;
}
.nav-bar{
  z-index:5;
  position:fixed;
  display:block;
  bottom:0;
  width:100%;
  height:10%;
}

.shortSearch{
  width: 60%;
  margin-left: 3rem;
}

.border-dots{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 350px) {
  .search-container {
    height: 7%;
    padding: 1rem 8rem;
  }
  .text-size-12{
    font-size:1.6rem;
  }
  .shortSearch{
    width:auto;
  }
  .search-options-block > div > .mat-icon{
    width: 3rem;
    height: 3rem;
    font-size: 3rem;
  }
  .slider-height-default{
    height:2%;
  }
  .slider-height-full{
    overflow-y: scroll;
    height: 93%;
  }
  .slide-accommodation-container{
    padding:1rem 8rem;
  }
  .slide-container{
    padding: 1rem 8rem;
  }
  .accommodations-container{
    display: grid !important;
    grid-template-columns: auto auto ;
  }
  .map-button-container{
    position: sticky;
    width: auto;
    height: 4rem;
    left: 23%;
    bottom: 12%;
  }
}
