.accommodation-image {
  background-image: url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/bedroom-ideas-rds-work-queens-road-08-1593114639.jpg');
  display: inline-block;
  background-size: cover;
  height: 10rem;
  width: 10rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  display: flex;
  place-content: center;
}
.accommodation-image-badge{
  position: absolute;
  width: auto;
  height:auto;
  background-color: white;
  font-size: 1rem;
  font-weight: 750;
  padding:0.2rem;
  border-radius: 0.3rem;
  margin-top:1rem;
}

.accomomodation-info{
  display:inline-flex;
  height:10rem;
  width: 18rem;
  background-color: white;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding-left: 1rem;
}
.small-accommodation-button{
  position: relative;
  width: auto;
  min-width: unset;
  line-height: normal;
  padding:unset;
  margin-right: 1rem;
}

.small-accommodation-button > ::ng-deep .mat-button-wrapper{
  display:flex;
  width: 28rem;
}

.star-icon{
  font-size:1.3rem;
  height:1.3rem;
  width:1.3rem;
}
.save-icon{
  position: absolute;
  right: 1rem;
  font-size: 1.4rem;
  width: 1.4rem;
  height: 1.4rem;
}
.border-dots{
  width:85%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 350px) {
  .small-accommodation-button > ::ng-deep .mat-button-wrapper{
    width:40rem;
  }
  .accommodation-image{
    width:15rem;
    height:15rem;
  }
  .accomomodation-info{
    height:15rem;
    width:25rem;
  }
  .text-size-12{
    font-size: 1.6rem;
  }
  .border-dots{
    width:90%;
  }
  .star-icon{
    font-size: 1.8rem;
    height: 1.8rem;
    width: 1.8rem;
  }
  .save-icon {
    font-size: 1.8rem;
    height: 1.8rem;
    width: 1.8rem;
  }
  .accommodation-image-badge{
    font-size:1.5rem;
  }
}
