.text-desc{
  font-size: 1.2rem;
  color:rgba(0, 0, 0, 0.712);
}
.mat-divider{
  width: 60vw;
}
.mat-button{
  border-radius: unset !important;
  width: 60vw;
  padding:1.6rem 0;
  display:grid;
  line-height: 1.8rem;
  white-space: normal;
  text-align: unset;
}
