.background {
  background-color: white;
  padding:1rem 0rem;
  padding-left: 2rem;
  width:100vw;
}

.slide-container {
  overflow-x: scroll;
  padding:1rem 0rem;
  display: grid !important;
  grid-template-columns: auto auto auto;
}

@media screen and (min-width: 350px) {
  .background{
    padding-left: 8rem;
  }
}
