<button mat-button class="accommodation-button" ><!-- routerLink="" -->
  <div
    class="accommodation-image-container">
      <img class="accommodation-image"
      [src]="accommodation.images[0]"/>
  </div>
  <div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="start center" class="small-info">
      <mat-icon color="accent" class="star-icon">grade</mat-icon>
      <span *ngIf="accommodation.grade === null">&nbsp; Novo</span>
      <span *ngIf="accommodation.grade !== null">&nbsp; {{accommodation.grade}}</span>
      <span class="color-gray">&nbsp; ({{accommodation.votesCount}})</span>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center"  class="big-info">
      <span >{{accommodation.type}} &nbsp;</span>
      <span >{{getRoomDescription()}}</span>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" class="big-info">
      <span class="text-bold-600">{{accommodation.newPrice*days}} kn &nbsp;</span>
      <span >Ukupno</span>
    </div>
  </div>
</button>
