
<div fxLayout="row" class="background">
  <div
    fxLayout="column"
    fxLayoutAlign="start stretche"
    class="full-width">
    <div
      fxLayout="row"
      class="mt-1"
      #buttonBlock>
      <button
        mat-flat-button
        class="rounded-borders"
        fxFlex="100"
        #button
        routerLink="search">
        <mat-icon
          color="accent">
          search
        </mat-icon>
        Kamo želite otputovati?
      </button>
    </div>
    <div
      fxLayout="row"
      class="mt-4">
      <p
        class="message">
        Otputujte negdje blizu
      </p>
    </div>
    <div
      fxLayout="row"
      class="mt-1">
      <button
        mat-flat-button
        class="places-nearby">
        Smještaji u okolici
      </button>
    </div>

  </div>
</div>
